<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--If you run this as a job or don't need to see the output then make Unattended Y-->
    <add key="Unattended" value="N"/>
    <!--Y/N value only-->
    <add key="AnyTone" value="Y"/>
    <add key="IDinsteadOfName" value="N"/>
    <add key="US" value="N"/>
    <add key="UK" value="N"/>
  </appSettings>
</configuration>