<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--If you run this as a job or don't need to see the output then make Unattended Y-->
    <add key="Unattended" value="N"/>
    <!--Y/N value only-->
    <add key="AnyTone" value="Y"/>
    <add key="IDinsteadOfName" value="N"/>
    <!--Use this to filter country 31=US 235=UK. 
    For multiple countried separate by commas.  Example: "31,235,271" (no comma after last one).
    Blank for no filter.-->
    <add key="IDStartsWith" value=""/>
  </appSettings>
</configuration>