<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="ExportFileName" value="AnyTone_TGs.csv"/>
    <!--If you run this as a job or don't need to see the output then make Unattended Y-->
    <add key="Unattended" value="N"/>
    <!--Y/N value only-->
    <add key="AnyTone" value="Y"/>
    <add key="IDinsteadOfName" value="N"/>
    <!--Set to N for DMARC as local numbers are different-->
    <add key="LessThan91" value="Y"/>
    <!--Use this to filter country 31=US 235=UK. 
    For multiple countries separate by commas.  Example: "31,235,271" (no comma after last one).
    Blank for no filter.-->
    <add key="IDStartsWith" value=""/>
    <!--TGs to add to the end that are not from Brandmeister-->
    <add key="ExtraTGList" value="TG_Extras.csv"/>
  </appSettings>
</configuration>
